---
layout: layouts/base.njk
---
<article class="container content">
  <h1 class="page-title">{{ title }}</h1>
  <p class="post-date"><time datetime="{{ page.date.toISOString() }}">{{ page.date | readableDate }}</time></p>
  {{ content | safe }}
</article>
